<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    {%  load static %}



    <link rel="stylesheet" type="text/css" href="{% static 'iano/bootstrap/css/bootstrap.min.css'  %}">
    <!--css-->

    <link rel="stylesheet" type="text/css" href="{% static 'iano/iano.css'  %}">

    <!--jquery and js-->

    <script type="text/javascript" src="{% static 'iano/iano.js'  %}"></script>

      <script type="text/javascript" src="{% static 'iano/bootstrap/js/bootstrap.min.js'  %}"></script>

      <!--fonts-->


      <link rel="stylesheet" type="text/css" href="{% static 'iano/fontawesome-free/css/fontawesome.min.css'  %}">  

      <link rel="stylesheet" type="text/css" href="{% static 'iano/font-awesome/css/fontawesome.min.css'  %}">


      <script type="text/javascript" src="{% static 'iano/font-awesome/js/fontawesome.min.js'  %}"></script>


  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<head>

  <title>news </title>
 
</head>


<body>

  <!--navigation-->

<nav class="navbar fixed-top navbar-expand-lg navbar-light">


 

 

    <h3 >News</h3>
  </a>

   <div>
    <h5 class="menu-text">MENU</h5>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">


    <span class="navbar-toggler-icon"></span>

  </button>


</div>
  


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mx-auto">


      <li class="nav-item active">

        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#About">business</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#Skills">politics</a>
      </li>

      
      <li class="nav-item">
        <a class="nav-link" href="#Work">education</a>
      </li>



       <li class="nav-item">
        <a class="nav-link" href="#Contact">county</a>
      </li>

    </ul>

    <form class="form-inline my-2 my-lg-0">
      
       
     <a class="btn btn-outline-dark btn-sm-1"  href="#foot">contact</a>
      

    </form>

    

  </div>

</nav>







<!--work-->

{%  for data in post %}


<div id="Work">

<center><h2>newstoday</h2></center>


<div class="container-6">




<h2 style="font-weight: bold;">{{data.Title}}</h2>

<p>{{ data.Content}}</p>

<p>{{ data.Link }}</p>

{{ data.Link }}
<h4 style="color: blue;">See More on</h4>












</div>

</div>

{% endfor %}



<hr class="my-4">











</body>
</html>