*{

	padding: 0;
	margin: 0;
}


body{

	margin: 0;
	padding: 0;
}


.navbar-light{

	background: rgb(245 , 245 , 245);

}


.align-top{

	border-radius: 50%;
}
h3{

	color: darkred;
	font-size: 40px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}



.menu-text{


	display: none;
}
.nav-item{


	padding-right:50px;
	font-family: Times New Roman Georgia;
	font-size: 20px;

}
.nav-item a{

	color: black;
}

.nav-item a:hover{
	color: blue;
	text-decoration: underline;
	cursor: pointer;
}



